body {
	background: linear-gradient(to right, #2FB3E4, #dee0cc);
  }
.parrafo {
	color: black;
}
.image-foto{
	width:20px;
	height:20px;
}

.title {
	text-align:center
	color: white;
}
h4{
	color: black;
}